*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    
}

.container{
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns:minmax(200px, 2fr) minmax(300px, 7fr) minmax(200px, 4fr);
    grid-template-rows: repeat(10,minmax(100px,1fr));
    overflow: hidden;
}

.dashboard{
   
    grid-column: 1;
    grid-row: 1/-1;
    background-color:#38bdf8;
    display: flex;
    flex-direction: column;
    gap: 12rem;
 
}  
#dashboard-icon{
    fill: white;
    height: 10em;
   
}
.heading{
    display: grid;
    grid-template-columns:auto repeat(1,minmax(150px,1fr));
    gap: 4rem;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-left: 5em;
    margin-top: 6em;
    color: white;
    
    
}
.heading > h1{
    font-size: 9rem;
}
.navigation, .help{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 3.5rem;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-left: 7em;
    margin-top: 2em;
    color: white;
    
}
.link > span{
    font-size:8rem;
}
.link{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5rem;
}
.link > svg{
    height: 8rem;
    fill: white;
}


.nav{
    grid-column: 2/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    grid-template-rows: 1fr 1fr;
    column-gap: 100rem;
    box-shadow: 5px 20px 18px #CADCFC;
 }


input{
    width: clamp(150px,100%,250rem);
    height: 10rem;
    background-color: #e5e7eb;
    border-radius: 4rem;
    border: none;
}
.search >svg{
    height: 7rem;
}
.search,.profile{
    grid-column: 1;
    margin-top: 12rem;
    margin-left:12rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12rem;
   
   
}
.profile{
    grid-column: 2;
    display: flex;
    align-items: start;
    gap: 10em;
    

}
.profile>svg{
    height: 7rem;
    margin-top: 3em;
}
#profile-img{
    width: 12rem;
    border-radius: 6rem;
}
.name{
    margin-top: 0.1em;
    font-size: 8em;
    font-weight: bolder;
}
.second-layer{
    grid-column: 1;
    grid-row: 2;
    margin-left:12rem;
    display: flex;
    align-items: start;
    gap: 5rem;
}
.second-layer> img{
    width: 20rem;
    border-radius: 12rem;
}
#intro-main{
    margin-top: 2rem;
    font-size: 4rem;
}
#intro-main >span{
    font-size: 80px;
}
.createbutton{
    grid-column: 2;
    grid-row:2;
    display: flex;
  gap: 4em;
    align-items:center;
    
}
.createbutton >button{
  width: 30rem;
  font-size: 90px;
  height: 14rem;
  color: white;
  background-color: #38bdf8;
  border: none;
  border-radius: 2em;
   
}

/* Projects section */

.projects{
    grid-column: 2/-1;
    grid-row: 3/-1;
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,3fr)) repeat(1,minmax(150px,2fr));
    background-color:#CADCFC;
    overflow: auto;
    
}
.title{
   
   
    font-size: 6rem;
    
 
   
}

.content{
    
    grid-column: 1/3;
    grid-row: 1/-1;
    margin-top: 7rem;
    margin-left:16rem;
    display:flex;
    flex-direction: column;
    margin-top: 12rem;
    gap: 2rem;
  

}
.content h1{
    grid-area: project;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}
.logo > svg{
    height: 7rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,minmax(450px,170rem));
    grid-template-rows: repeat(3,minmax(250px,1fr));
    gap: 6rem;
    padding: 2rem;
    box-sizing:border-box;
    overflow: auto;
    

 
  
}
.card >h2{
    font-size: 7rem;
}
.caption{
    font-size: 5rem;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    height: 50em;
    background-color: white;
    padding: 12rem;
    border-radius: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 5px 20px 18px #CADCFC;
    overflow: hidden;
   
 
}
.logo{
    margin-top: 12rem;
    align-self: flex-end;
}
.news{
    grid-column: 3/-1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 6rem;
   
}
.announcement{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: wrap;
    width: 80rem;
    background-color: white;
    padding: 15rem;
    border-radius: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4em;
    box-shadow: 5px 20px 18px #CADCFC;
}
ul{
    list-style-type:none;
}
.explore >ul{
    display: flex;
}
.people{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    width: 80rem;
    background-color: white;
    padding: 12rem;
    border-radius: 5rem;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4em;
    height: 13em;
    box-shadow: 5px 20px 18px #CADCFC;
  
}
.intro > img{
    width: 12rem;
    border-radius: 6rem;
}
.intro{
    display: flex;
    gap: 2em;
    
}
.intro-inner{
   font-size: 30px; 
}
.intro-inner >span{
    font-size: 2.5em;
    font-weight: bolder;
}
